[Desktop Entry]
Version=1.0
Type=Application
Name=Launcher-be322b072d
Comment=Comment-a02f313022
Exec=/usr/bin/true
Terminal=false
Icon=
Path=
StartupNotify=false
