[Desktop Entry]
Version=1.0
Type=Application
Name=Launcher-6471e7f3d7
Comment=Comment-95a72c46b5
Exec=/usr/bin/true
Terminal=false
Icon=
Path=
StartupNotify=false
